@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Permanent+Marker&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Montserrat;
}



/*-----header styling-----*/
header {
	background-color: #121616;
	height: 95px;
	width: 100%;
	text-align: center;
	color: white;
	position: sticky;
	top: 0;
	opacity: 0.98;
	z-index: 1;
}





/*-----nav element inside header styling-----*/

.nav-h ul {

	
}



.nav-h ul li {
  
  display: inline-block;
  color: #FF6E86;
  font-weight: 300;
  list-style: none;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 30px;	
}


.nav-h ul li a {

  font-size: 20px;
  text-decoration: none;
  border-bottom: 3px solid #54FFF9;
  color: white;
  font-weight: 400;
  letter-spacing: 2px;

}












/*-----body image styling-----*/
body {
	background-color: black;
	background-attachment: fixed;
	background-position: center;
	max-width: 100%;
	height: auto;
}




/*-----section styling-----*/

.wrapper section a {
	text-decoration: none;
}




.logo {

	text-align: center;

}

.logo img {

	width: 40%;
	padding-top: 4%;
	padding-bottom: 2%;
}

.splash h1 {

	text-align: center;
	letter-spacing: 8px;
	color: white;
	opacity: 90%;
	padding-bottom: 1%;

}

#view {

	text-align: center;
	letter-spacing: 2px;
	color: white;
	opacity: 90%;
	padding-bottom: 2%;
	padding-top: 3%;
	font-size: 18px;
	font-weight: 300;
	font-family: Montserrat;



}


#work-type {

	text-align: center;
	font-size: 22px;
	color: #54FFF9;
	letter-spacing: 3px;


}

#col1, #col2, #col3 {

	padding-bottom: 5%;

}

#star {

	font-size: 40px;
	color: #54FFF9;
}

.featured h3 {

	font-size: 42px;
	text-align: center;
	padding-bottom: 4%;
	font-weight: 300;
}

.featured {

	padding-top: 7%;
	color: white;
	letter-spacing: 2px;


}

#feat {

	font-weight: 300;

}


#vid {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.sub h4 {

	font-weight: 300;
	letter-spacing: 2px;
	font-family: Montserrat;
	text-align: center;
	font-size: 22px;
	color: white;

}

.sub h5 {

	font-weight: 300;
	letter-spacing: 1px;
	font-family: Montserrat;
	text-align: center;
	font-size: 16px;
	color: #ededed;

}

.sub {

	padding-top: 2%;

}


.col2 img {

	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;


}

.col2 {

	padding-top: 10%;
	padding-bottom: 10%;


}

.aw {

	font-size: 22px;
	text-align: center;
	padding-top: 3%;
}


.aw a {

	color: #1cffdd;

}

.aw a:hover {

	color: #d7ff47;

}





/*-----footer styling-----*/
footer a {
	text-decoration: none;
}

.footer {
	text-align: center;
	display: block;
	background-color: #121616;
}

.footer h4 {
	font-size: 15px;
	color: #bebebe;
	font-weight: 200;
	padding: 40px;
}

.footer h4 a {
	color: #FF6E86;
}

.footer h4 a:hover {
	background-color: #6FFFB7;
}





	/*-    XXXXXXXX      XXXXXXXXXXXX
	      XXXX  XXXX     XXXXXXXXXXXX
	     XXXX    XXXX    XXXX    XXXX
	    XXXX      XXXX   XXXXXXXXXXX
	    XXXXXXXXXXXXXX   XXXXXXXXXXX
	    XXXXXXXXXXXXXX   XXXX    XXXX
	    XXXX      XXXX   XXXXXXXXXXXX
	    XXXX      XXXX   XXXXXXXXXXXX      --*/




.type h1 {

	font-size: 30px;
	font-weight: 300;
	color: white;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 2%;
	padding-left: 20px;
	padding-right: 20px;


}

#tabs {

	color: white;
	letter-spacing: 2px;
	font-size: 20px;

}

#tabs:hover {

	color: #54FFF9;
	letter-spacing: 2px;
	font-size: 20px;
	background-color: #212121; 
}

#tabs:active {

	color: #54FFF9;
	letter-spacing: 2px;
	font-size: 20px;
	background-color: #212121;

}

#tabs:visited {

	letter-spacing: 2px;
	font-size: 20px;
	background-color: #212121;

}


a.nav-link.active{

	padding-top: 40px;

}

a.nav-link {

	padding-top: 40px;

}


.nav-item {

	padding-right: 40px;
	padding-left: 40px;

}

.card {

	text-align: center;
	border: none !important;
	background-color: black !important;


	
}


.card-header {

	background: radial-gradient(circle, rgba(141,255,242,1) 0%, rgba(103,255,249,1) 0%, rgba(17,53,55,1) 0%, rgba(0,0,0,1) 100%) !important;
	padding-top: 30px !important;
	padding-bottom: 30px !important;

}

.btn-link {

	color: white !important;
	background-color: grey;
	font-weight: 300;
	letter-spacing: 3px;
	text-decoration: none !important;
}


#vp {

	color: #54FFF9;
	font-size: 15px;
	letter-spacing: 2px;
}

.vp {

	padding-top: 20px;

}




.ub {


	text-align: center;
	color: white;
	font-size: 24px;
	letter-spacing: 3px;



}

.msg {

	text-align: center;
	color: white;
	font-size: 26px;
	letter-spacing: 1px;
	font-weight: 300;
	padding-top: 7%;
	padding-bottom: 7%;


}

.ema a {


	text-align: center;
	color: #54FFF9;
	font-size: 24px;
	letter-spacing: 1px;


}

.ema {

	text-align: center;
	padding-bottom: 10%;


}




.profile {

	padding-top: 3%;

	padding-bottom: 8%;

	color: white;

	font-weight: 300;

	font-size: 22px;

	padding-left: 20%;

	padding-right: 20%;


}


.am {



	color: #54FFF9;
	font-size: 29px;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 10%;


}


#resume {

	color: #54FFF9;
	font-size: 29px;
	letter-spacing: 2px;
	text-align: center;
	padding-top: 10%;



}


.dl {

	text-align: center;
	padding-bottom: 15%;


}







/*-----------------------------desktop media query----------------------*/


@media  (min-width: 1000px) {

	

	header {
	background-color: #121616;
	height: 120px;
	width: 100%;
	z-index: 1;
	}


	.nav-h ul li a{

		font-size: 26px;
		list-style: none;
		font-family: Montserrat;
		list-style: none;

	}


	#col1 {

	position: relative;
	left: 80px;

	}

	#col3 {

	position: relative;
	right: 80px;

	}







}




	






























	

























